:root {
  --body-text: #774e2e;
  --accent-colour: #f37f34;
  --white-text: #ffffff;
  --accent-bg: #774e2e;
  --bg-color-main: #ffffff;
  --bg-color-accent: #fff9ea;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.16px;

  color: var(--body-text);
  background-color: var(--bg-color-main);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 150px 0;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  padding-top: 30px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-list a {
  line-height: 1.3;
  letter-spacing: 0.16px;
  color: var(--body-text);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.hero-wrapper {
  max-width: 575px;
}
.hero-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 40px;

  font-size: 110px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 5.5px;
}
.hero-title span {
  color: var(--accent-colour);
}
.hero-text {
  margin-bottom: 50px;
}
.hero-button {
  max-width: 343px;
  padding: 22px 20px;

  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  text-align: center;

  color: var(--white-text);
  background-color: var(--accent-bg);
  border: none;

  cursor: pointer;
}
.hero-img {
  width: 575px;
  height: 596px;

  background-image: url("../assets/images/hero.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
/* Favourite */

.favourite {
  background-color: var(--bg-color-accent);
}
.favourite-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.favourite-item {
  height: 462px;
  flex: 1;
  background-color: var(--bg-color-main);
}

.favourite-img {
  margin-bottom: 36px;
  width: 370px;
  height: 248px;
}
.favourite-title,
.advice-title {
  margin-bottom: 70px;

  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.favourite-title span,
.advice-title span {
  color: var(--accent-colour);
}
.favourite-subtitle {
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.24px;
}
.favourite-text {
  margin-bottom: 36px;
  padding: 0 20px;
  text-align: center;
}
.advice-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.advice-text-wrapper {
  max-width: 575px;
}
.advice-title {
  margin-bottom: 30px;
}
.advice-subtitle {
  margin-top: 60px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.24px;
}
.advice-list {
  list-style: disc;
}
.advice-img {
  width: 575px;
  height: 722px;

  background-image: url("../assets/images/advice.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
footer {
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  color: var(--white-text);
  background-color: var(--accent-bg);
}
.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 188px;
  padding: 40px 0;
}

@media (max-width: 1280px) {
  section {
    padding: 80px 0;
  }
  .container {
    padding: 0 16px;
  }
  .header-wrapper {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .hero {
    flex-direction: column;
  }
  .hero-title {
    font-size: 70px;
  }
  .hero-img,
  .advice-img {
    width: 100%;
    height: 300px;
    background-position: center;
  }
  .hero-button {
    max-width: 288px;
    padding: 16px 10px;
  }
  .favourite-list {
    flex-direction: column;
  }
  .favourite-item {
    max-width: 420px;
  }
  .favourite-title,
  .advice-title {
    font-size: 36px;
  }
  .favourite-img {
    margin-bottom: 16px;
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .favourite-text {
    margin-bottom: 16px;
  }
  .advice-wrapper {
    flex-direction: column;
  }
  .advice-text-wrapper {
    text-align: center;
  }
  .advice-subtitle {
    margin-top: 20px;
  }
  .advice-list {
    list-style: none;
    text-align: left;
  }
  .footer-wrapper {
    padding: 16px 0;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    text-align: center;
  }
}
